/**
 * Imports :
 */
@import 'compass/reset';
@import 'compass/css3';


/**
 * Tools :
 */
@import 'tools/animations.scss';
@import 'tools/helpers-classes';
@import 'tools/helpers-mixins';
@import 'tools/helpers-functions.scss';


/**
 * Settings :
 */
@import 'settings';


/**
 * Fonts management :
 * If need to manage fonts in em...
 */
$default-font-size : 20;
body {
	font-size:px($default-font-size);
	// then : font-size:em(12);
}


/**
 * Commons :
 * All the common css used sitewide like forms, text-format, etc...
 */
@import 'commons/form';


/**
 * Partials :
 * All the special parts like a tweet, post, etc...
 */
@import 'partials/layout';

body {
	content : 'eee';
	background:#fefefe;
}