/**
 * Placeholder :
 */
@mixin placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}


/**
 * selection :
 */
@mixin selection() {
	&::selection {
		@content;
	}
	&::-moz-selection {
		@content;
	}
}


/**
 * Disable selection :
 */
@mixin user-select(
	$value : none
) {
  -webkit-touch-callout: $value;
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}


/**
 * Clearfix :
 */
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}


/**
 * Positioning :
 */
@mixin position(
	$value1 : 0,
	$value2 : 0,
	$schema : 'tl'
) {
	@if $schema == 'tl' {
		top : $value1;
		left : $value2;
	} @elseif $schema == 'tr' {
		top : $value1;
		right : $value2;
	} @elseif $schema == 'bl' {
		bottom : $value1;
		left : $value2;
	} @elseif $schema == 'br' {
		bottom : $value1;
		left : $value2;
	}
}
@mixin abs-position(
	$value1 : 0,
	$value2 : 0,
	$schema : 'tl'
) {
	position:absolute;
	@include position($value1, $value2, $schema);
}
@mixin rel-position(
	$value1 : 0,
	$value2 : 0,
	$schema : 'tl'
) {
	position:relative;
	@include position($value1, $value2, $schema);
}


/**
 * Sizes :
 */
@mixin fit() {
	width:100%; height:100%;
}
@mixin abs-fit(
	$top : auto,
	$right : auto,
	$bottom : auto,
	$left : auto
) {
	position:absolute;
	top : $top;
	right : $right;
	bottom : $bottom;
	left : $left;
}


/**
 * Images :
 */
@mixin fit-bkg(
	$url
) {
	// vars :
	$w : image-width($url);
	$h : image-height($url);
	$url : image-url($url);

	// background :
	background-image:$url;
	background-repeat:no-repeat;
	width : $w; height : $h;
}