/**
 * Text styling :
 */
.uppercase { text-transform:uppercase; }
.lowercase { text-transform:lowercase; }
.capitalize { text-transform:capitalize; }
.t-left { text-align:left; }
.t-right { text-align:right; }
.t-center { text-align:center; }
.bold { font-weight:bold; }
.italic { font-style:italic; }
.oblique { font-style:oblique; }
.underline { text-decoration:underline; }
.overline { text-decoration:overline; }
.line-through { text-decoration:line-through; }


/**
 * Helpers :
 */
.f-left { float:left; } 
.f-right { float:right; }
.f-none { float:none; }
.disabled {
	pointer-events:none;
	opacity:0.5;
}
.relative { position:relative; }
.absolute { position:absolute; }
.inline { display:inline; }
.inline-block { display:inline-block; }
.block { display:block; }


/**
 * Custom clearfix :
 */
@mixin clearfix_classes($selector) {
	#{$selector}:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	 
	#{$selector} {
		display: inline-block;
	}
	 
	html[xmlns] #{$selector} {
		display: block;
	}
	 
	* html #{$selector} {
		height: 1%;
	}
}


/**
 * Margin classes :
 */
@mixin margin_classes($count) {
	@for $i from 0 through $count {
		.margin-bottom-#{$i*10} {
			margin-bottom:#{$i*10}px;
		}
	}
	@for $i from 0 through $count {
		.margin-top-#{$i*10} {
			margin-top:#{$i*10}px;
		}
	}
	@for $i from 0 through $count {
		.margin-left-#{$i*10} {
			margin-left:#{$i*10}px;
		}
	}
	@for $i from 0 through $count {
		.margin-right-#{$i*10} {
			margin-right:#{$i*10}px;
		}
	}
}
@include margin_classes(10);


/**
 * padding classes :
 */
@mixin padding_classes($count) {
	@for $i from 1 through $count {
		.padding-bottom-#{$i*10} {
			padding-bottom:#{$i*10}px;
		}
	}
	@for $i from 1 through $count {
		.padding-top-#{$i*10} {
			padding-top:#{$i*10}px;
		}
	}
	@for $i from 1 through $count {
		.padding-left-#{$i*10} {
			padding-left:#{$i*10}px;
		}
	}
	@for $i from 1 through $count {
		.padding-right-#{$i*10} {
			padding-right:#{$i*10}px;
		}
	}
}
@include padding_classes(10);